<h1>Letter</h1>
<div class="head">
  <div>
    <div>{{ClincName}}</div>
    <div>{{ProviderName}}</div>
    <div>{{ProviderAdress}}</div>
  </div>
  <div class="date">{{Date}}</div>
</div>
<div class="subject">Regarding: {{ClincName}} , DOB {{DOB}}</div>
<div class="salutation">Dear {{ProviderName}}: </div>
<div class="body">
  <p>The above individual received cardiovascular (CV) disease and diabetes testing on {{Testingdate}} as
    part of the Colorado Heart Healthy Solutions program. The following are the individual's results</p>
  <div class="container-table">
    <table>
      <tr>
        <td>Fasting</td>
        <td>{{Fasting}}</td>
        <td>Blood pressure (mmHg)</td>
        <td>{{Bloodpressure}}</td>
      </tr>
      <tr>
        <td>Total cholesterol (mg/dL)</td>
        <td>{{Totalcholesterol}}</td>
        <td>Glucose (mg/dL)</td>
        <td>{{Glucose}}</td>
      </tr>
      <tr>
        <td>HDL (mg/dL)</td>
        <td>{{HDL}}</td>
        <td>HbA1c (%)</td>
        <td>{{HbA1c}}</td>
      </tr>
      <tr>
        <td>LDL (mg/dL)</td>
        <td>{{LDL}}</td>
        <td>Body mass index</td>
        <td>{{Bodymassindex}}</td>
      </tr>
      <tr>
        <td>Triglycerides (mg/dL)</td>
        <td>{{Triglycerides}}</td>
        <td>Smoking status</td>
        <td>{{Smokingstatus}}</td>
      </tr>
      <tr>
        <td>Non-HDL (mg/dL)</td>
        <td>{{NonHDL}}</td>
        <td>Stress score (PSS-10)</td>
        <td>{{Stressscore}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Anxiety score (GAD-2)</td>
        <td>{{Anxietyscore}}</td>
      </tr>

    </table>
  </div>
  <div class="container-table">ASCVD 10-year risk score: 9% (<7.5%=low risk, 7.5-19%=moderate,>20% = high)</div>
  <p>Our community-based program aims to improve the CV and mental health of adults in Colorado.
    Community Health Workers provide health screenings, education, health coaching and referrals.
    Screenings include point-of-care lipids/glucose testing, BP testing and mental health assessments,
    and our referrals are based on current national guidelines for the individual's level of risk.</p>
  <p>If you have any questions, please do not hesitate to contact me at {{phonenumber}} or {{email}}, or see
    the program website for more information: www.cpccommunityhealth.org/chhs. Thank you for your
    assistance in the referral process.</p>
  <div class="closure">Sincerely,</div>
</div>
<div class="signature">
  <div>{{CHWName}}</div>
  <div>Community Health Worker</div>
  <div>AgencyName</div>

</div>